@use 'variables' as *;

@media (min-width: $desktop) {
    .content-wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        .top-images {
            grid-column: 1/6;
        }
        .blog-cards, .older-posts-button {
            grid-column: 1/6;
        }
    }
}
