// Fonts
$body-font: 'Roboto';
$body-font-size: 1rem;
$body-font-weight: 300;
$heading-font: 'Roboto Condensed';
$heading-font-weight: 400;
$navigation-font: 'Roboto Condensed';
$navigation-font-weight: 700;
$line-height: 1.5;

// Colors
$brand-color: #0C6599;

// Text Colors
$text-color-light: #ffffff;
$text-color-dark: #000000;